body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2em 0;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 300;
}

main {
  padding: 2em 1em;
}

.about-me {
  background: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2em auto;
}

.info {
  text-align: center;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 0.75em 1.5em;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#more-info {
  display: none;
  margin-top: 1em;
  text-align: left;
}

.projects {
  background: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}

.projects h2 {
  margin-bottom: 1em;
}

#project-list {
  list-style: none;
  padding: 0;
}

#project-list li {
  margin: 0.5em 0;
}

#project-list a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

#project-list a:hover {
  color: #0056b3;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
